<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss} [%t] %c{1} - %m%n" />
		</layout>
	</appender>
    
    <appender name="DEBUG_FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/all.log" />
        <param name="maxBackupIndex" value="5" />
        <param name="maxFileSize" value="10MB" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{yyyy-MM-dd HH:mm:ss} %p [%t] [%c] [%x] [%r] [%m]%n" />
        </layout>
    </appender>

    <appender name="ERROR_FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/error.log" />
        <param name="maxBackupIndex" value="3" />
        <param name="maxFileSize" value="5MB" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                value="%d{yyyy-MM-dd HH:mm:ss} %p [%t] [%c] [%x] [%r] [%m]%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="error" />
            <param name="LevelMax" value="error" />
            <param name="acceptOnMatch" value="true" />
        </filter>
    </appender>
	
	<root>
        <level value="DEBUG" />
		<appender-ref ref="console" />
        <!-- <appender-ref ref="DEBUG_FILE" /> -->
        <!-- <appender-ref ref="ERROR_FILE" /> -->
	</root>
	
</log4j:configuration>
